@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);

    --font-sans: 'Poppins', system-ui, sans-serif;
}

:root {
    --background: oklch(0.943 0.013 252);
    --card: oklch(0.943 0.013 252);
    --popover: oklch(0.943 0.013 252);
    --sidebar: oklch(0.952 0.003 264.542);
    --foreground: oklch(0.217 0 0);
    --card-foreground: oklch(0.531 0 89.876);
    --popover-foreground: oklch(0.217 0 0);
    --sidebar-foreground: oklch(0.217 0 0);
    --primary: oklch(0.614 0.203 255);
    --sidebar-primary: oklch(0.614 0.203 255);
    --primary-foreground: oklch(0.961 0 0);
    --sidebar-primary-foreground: oklch(0.961 0 0);
    --secondary: oklch(0.881 0.013 244);
    --accent: oklch(0.881 0.013 244);
    --sidebar-accent: oklch(0.881 0.013 244);
    --secondary-foreground: oklch(0.218 0 0);
    --accent-foreground: oklch(0.218 0 0);
    --sidebar-accent-foreground: oklch(0.218 0 0);
    --muted: oklch(0.874 0.009 248);
    --muted-foreground: oklch(0.553 0.009 242);
    --destructive: oklch(0.597 0.238 29);
    --destructive-foreground: oklch(0.961 0 0);
    --border: oklch(0.875 0.002 17.2);
    --sidebar-border: oklch(0.759 0.03 247);
    --ring: oklch(0.713 0.074 248);
    --sidebar-ring: oklch(0.713 0.074 248);
    --input: oklch(0.76 0.026 246);
    --chart-1: oklch(0.614 0.203 255);
    --chart-2: oklch(0.658 0.171 51);
    --chart-3: oklch(0.433 0.298 264);
    --chart-4: oklch(0.863 0.148 193);
    --chart-5: oklch(0.608 0.246 1);
    --radius: 0.5rem;
}

.dark {
    --background: oklch(0.246 0 0);
    --card: oklch(0.246 0 0);
    --popover: oklch(0.246 0 0);
    --sidebar: oklch(0.246 0 0);
    --foreground: oklch(0.961 0 0);
    --card-foreground: oklch(0.961 0 0);
    --popover-foreground: oklch(0.961 0 0);
    --sidebar-foreground: oklch(0.961 0 0);
    --primary: oklch(0.839 0.084 247);
    --sidebar-primary: oklch(0.839 0.084 247);
    --primary-foreground: oklch(0.218 0 0);
    --sidebar-primary-foreground: oklch(0.218 0 0);
    --secondary: oklch(0.325 0.022 251);
    --accent: oklch(0.325 0.022 251);
    --sidebar-accent: oklch(0.325 0.022 251);
    --secondary-foreground: oklch(0.961 0 0);
    --accent-foreground: oklch(0.961 0 0);
    --sidebar-accent-foreground: oklch(0.961 0 0);
    --muted: oklch(0.376 0.017 252);
    --muted-foreground: oklch(0.68 0.009 248);
    --destructive: oklch(0.613 0.228 27);
    --destructive-foreground: oklch(0.961 0 0);
    --border: oklch(0.343 0.032 252);
    --sidebar-border: oklch(0.343 0.032 252);
    --ring: oklch(0.395 0.08 249);
    --sidebar-ring: oklch(0.395 0.08 249);
    --input: oklch(0.346 0.029 249);
    --chart-1: oklch(0.839 0.084 247);
    --chart-2: oklch(0.846 0.109 63);
    --chart-3: oklch(0.603 0.218 277);
    --chart-4: oklch(0.918 0.129 193);
    --chart-5: oklch(0.725 0.202 351);
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }

    body {
        @apply bg-background text-foreground;
    }

    h1 {
        @apply text-5xl font-bold;
    }

    h3 {
        @apply text-2xl;
    }

    header {
        @apply bg-sidebar border-b border-border py-4;
    }
}

